<ion-content>
  <div
    class="container flex flex-col justify-start items-stretch p-[10px]"
  >
    <div id="header">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <app-logo-component></app-logo-component>
          </ion-col>
          <ion-col size="6">
            <app-heroes-component></app-heroes-component>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid class="m-0">
      <div
        class="background"
      >
      </div>
      <ion-row>
        <ion-col size="6">
          <app-berita-component></app-berita-component>
        </ion-col>
        <ion-col size="6">
          <app-login-form-component></app-login-form-component>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
