<ng-container>
  <div class="logo">
    <div
      id="logo-img"
      class="flex relative min-w-[20px] min-h-[20px] max-w-[150px] w-[150px]"
    >
      <picture>
        <source
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?format=webp&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504
            "
          type="image/webp"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504"
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504?width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F98b6a827a302430a865cb6193f312504
            "
          class="image"
        />
      </picture>
      <div class="builder-image-sizer image-sizer"></div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div
            class="text-black text-[36px] tracking-[0%] text-left font-bold"
          >
            ELEKTRONIK AGENDA
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">

          <div
            class="text-black text-[32px] tracking-[0%] text-left font-bold"
          >
            DPRD PROVINSI GORONTALO
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-container>
