<ng-container>
  <div class="heroes">
    <div
      class="flex relative min-w-[20px] min-h-[20px] max-w-[165px] w-[165px]"
    >
      <picture>
        <source
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?format=webp&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410
            "
          type="image/webp"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410"
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410?width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F411737f0981144ed933a00551bffa410
            "
          class="image"
        />
      </picture>
      <div class="builder-image-sizer image-sizer"></div>
    </div>
    <div
      class="flex relative min-w-[20px] min-h-[20px] max-w-[165px] w-[165px]"
    >
      <picture>
        <source
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?format=webp&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6
            "
          type="image/webp"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6"
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6?width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe1081937d8be40b195ed86655c0177c6
            "
          class="image"
        />
      </picture>
      <div class="builder-image-sizer image-sizer"></div>
    </div>
    <div
      class="flex relative min-w-[20px] min-h-[20px] max-w-[165px] w-[165px]"
    >
      <picture>
        <source
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?format=webp&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3
            "
          type="image/webp"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3"
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3?width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fede7448828954e3e86d170ec634d53d3
            "
          class="image"
        />
      </picture>
      <div class="builder-image-sizer image-sizer"></div>
    </div>
    <div
      class="flex relative min-w-[20px] min-h-[20px] max-w-[165px] w-[165px]"
    >
      <picture>
        <source
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?format=webp&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3
            "
          type="image/webp"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3"
          srcset="
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=100   100w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=200   200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=400   400w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=800   800w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3?width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F175e9c6a69e04f139c74ec687d8b2dd3
            "
          class="image"
        />
      </picture>
      <div class="builder-image-sizer image-sizer"></div>
    </div>
  </div>

</ng-container>
