<ng-container>
  <div>
    <div
      class="
          flex flex-col
          max-w-[667px]
          justify-start
          items-center
          bg-[rgba(255,255,255,0)]
          px-[20px]
          py-[19px]
          rounded-[10px]
        "
    >
      <div
        class="
            flex
            absolute
            -z-10
            max-w-[627px]
            h-[50px]
            w-[627px]
            border
            bg-[rgba(113,83,134,1)]
            rounded-[10px]
            border-[rgba(113,83,134,1)] border-solid
          "
      ></div>
      <div
        class="max-w-[179px] text-white text-[20px] tracking-[0%] text-left"
      >
        Berita Media Aktual
      </div>
      <div class="news-container mt-5">
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F77f32d6f881a48db8bc065b304f7c3ed
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-2"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fc56638c149d74185bb536bb0c9dd59ee
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-3"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fe80a379b2e114b33be11635244ba51f8
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-4"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F37403a5231584e9fbf43028dd7302577
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-5"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac1e91fa253342cf861316f874476e44
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-6"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="
              pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F46513e7ad6df4afbb28fcd08f8183dda
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-7"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fac332ed38e9f4443bf771e3f6b6f0446
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-8"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fdd584971972948e686b163014b2ac5c5
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-9"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
        <div
          class="news-item
            flex flex-col
            max-w-[202px]
            justify-start
            items-center
            border border-[rgba(232,232,232,1)] border-solid
          "
        >
          <div
            class="flex relative min-w-[20px] min-h-[20px] max-w-[202px] w-[202px]"
          >
            <picture>
              <source
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?format=webp&width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404"
                srcset="
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=100   100w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=200   200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=400   400w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=800   800w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=1200 1200w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=1600 1600w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404?width=2000 2000w,
                  https://cdn.builder.io/api/v1/image/assets%2FTEMP%2F8d60a846a92f4f08ac88547979660404
                "
                class="image"
              />
            </picture>
            <div class="builder-image-sizer image-sizer-10"></div>
          </div>
          <div
            class="
              pl-2
              max-w-[250px]
              text-black text-[14px]
              tracking-[0%]
              text-left
              font-bold
              mt-[5px]
            "
          >
            Pelatihan E-Agenda DPRD
          </div>
          <div
            class="pl-2
              max-w-[200px]
              text-black text-[12px]
              tracking-[0%]
              text-left
              mt-[5px]
            "
          >
            12 April 2023 / Hengki
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
